{% extends "layout.html" %}
{% block content %}
	
	<h1>Skin Cancer Detection</h1>
	<p>Cancer is a generic term for a large group of diseases that can affect any part of the body. Other terms used are malignant tumors and neoplasms. One defining feature of cancer is the rapid creation of abnormal cells that grow beyond their usual boundaries, and which can then invade adjoining parts of the body and spread to other organs. Cancer is a leading cause of death worldwide, accounting for an estimated 9.6 million deaths in 2018. Doctors diagnose skin cancer in more than 3 million Americans each year, making it the most common type of cancer. If skin cancer is found early, it can usually be treated with topical medications, procedures done in the office by a dermatologist, or an outpatient surgery. A dermatologist is a doctor who specializes in diseases and conditions of the skin. As a result, skin cancer is responsible for less than 1% of all cancer deaths.</p>
	<p>In some cases, skin cancer may be more advanced and require management by a multidisciplinary team that often includes a dermatologist, surgical oncologist, radiation oncologist, and a medical oncologist.  These doctors will meet with a patient, and together they will recommend the best path forward to treat the cancer. In some instances, the surgical oncologist will recommend a surgery to be performed in an operating room because the procedure to treat the cancer is too extensive for an office setting.  Other times, radiation therapy and/or treatments using medication given by mouth or by vein are recommended by the team either in place of or in combination with surgery.</p>
	<p>SCanDet, a web application which use CNN algorithm to give probabilities of the types of skin cancer. The main purpose of the app is to provide early detection of skin cancer. With SCanDet, we are aiming for a really cheap yet reliable and easily accessible tool for Skin cancer detection. 
7 types of skin cancer we are classifying: </p>
<p>
Actinic keratoses, Basal cell carcinoma, Benign keratosis-like lesions, Dermatofibroma, Melanocytic nevi, Melanoma, Vascular lesions.</p>

	
{% endblock content %}
